#header {
	position: absolute;
	height: 10%;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	border-bottom: solid #DAAA00;
	z-index: 9;
}

#header > #logo {
	position: absolute;
	height: 80%;
	top: 10%;
}

#header > #search-box {
	position: absolute;
	right: 2.5%;
	width: 22.5%;
	height: 100%;
}

#header > #search-box > input {
	width: 100%;
	vertical-align: center;
}

.secondaryNav {
	position: fixed;
	top: 1%;
	height: 8%;
	left: 30%;
	width: 40%;
}

.secondaryNav #box {
	border: 5px solid #008EAA;
	border-radius: 5px;
	display: inline-block;
	position: absolute;
	height: 80%;
	width: 90%;
	left: 5%;
	background: #EEE;
}

.secondaryNav select {
	position: absolute;
	width: 100%;
	border: none;
	left: 0%;
	text-align: center;
	font-family: futura;
	font-size: 2em;
	height: 100%;
	padding-left: 10px;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: window;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	z-index: 10;
}

.secondaryNav #dropdown-button {
	position: absolute;
	background: transparent; /* Old browsers */
	border-left: thin solid #111;
	right: 0%;
	top: 1%;
	height: 100%;
	z-index: 9;
}

#content .secondaryNav h1 {
	background: transparent;
	border-bottom: none;
	font-family: futura;
	font-weight: normal;
	color: #000;
	line-height: 8%;
	padding: 0px;
	text-align: center;
}

#content {
	position: absolute;
	top: 11%;
	left: 12.5%;
	width: 87.5%;
	bottom: 0%;
	overflow: auto;
	z-index: 10;
	transition: all .2s;
}

#content > * {
	margin-left: 2.5%;
	margin-right: 2.5%;
}

#content h1 {
	background: #002855;
	border-bottom: solid #DAAA00;
	font-family: futura;
	font-weight: normal;
	font-size: 2em;
	padding: 0.2em 10px;
	float: center;
	color: white;
	padding: auto;
	text-align: center;
}

#content h2 {
	background: #002855;
	border-bottom: solid #DAAA00;
	font-family: futura;
	font-weight: normal;
	font-size: 1em;
	padding: 0.2em 10px;
	float: center;
	color: white;
	text-align: center;
}

#content p {
	font-family: "Lucida Grande", "Lucida Sans", "Verdana", sans-serif;
}

#content img {
	float: right;
}

#content a {
	text-decoration: none;
	color: inherit;
}

#navigation {
	position: absolute;
	width: 12.5%;
	left: 0%;
	bottom: 0%;
	top: 10%;
	transition: all .2s;
	overflow: auto;
}

#navigation div {
	display: flex;
	float: center;
	position: relative;
}

#navigation div span {
	position: absolute;
	bottom: -7.5%;
	text-align: center;
	left: 0%;
	width: 100%;
	margin: 0px;
	z-index: 10;
}

#navigation .navText {
	background: #008EAA;
	display: inline-block;
	border-radius: 5px;
	color: #FFF;
	padding: 5px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
	font-family: "Lucida Grande", "Lucida Sans", "Verdana", sans-serif;
}

#navigation div.selected .navText {
	background: #BA0C2F;
}

#navigation a {
	background: #EEE; /* Old browsers */
	box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
	width: 75%;
	border-radius: 50%;
	border: 5px solid #008EAA;
	z-index: 10;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 25px;
	text-decoration: none;
	color: #000;
}

#navigation img {
	height: 80%;
	width: 80%;
	padding: 10%;
	margin: auto;
}

#navigation div.selected a {
	border: thick solid #BA0C2F;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.ui-autocomplete {
	list-style: none;
	width: 20%;
	margin: 0px;
	padding: 0px;
	border: solid thin #AAA;
	background: white;
}

.ui-menu-item {
	text-align: center;
}

.ui-menu-item > a {
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

.ui-state-focus {
	background: #BA0C2F;
	color: white;
	width: 100%;
	height: 100%;
}

.ui-helper-hidden-accessible {
	display: none;
}
