#header {
	position: absolute;
	height: 10%;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	border-bottom: solid #DAAA00;
	z-index: 1000;
}

#header #logo {
	position: absolute;
	height: 80%;
	top: 10%;
}

#homeButton {
	position: absolute;
	bottom: 25px;
	left: 25px;
	height: 100px;
	width: 100px;
	background: #CCD4E0;
	border-radius: 50%;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
	z-index: 0;
}

#homeButton:hover {
	background: #4D688C;
	box-shadow: 0px 0px 15px #99A9BF;
}

#homeButton img {
	position: relative;
	height: 80%;
	width:80%;
	margin: 10px;
}

#content {
	position: absolute;
	top: 10%;
	left: 5%;
	padding-top: 10px;
	width: 90%;
	height: 90%;
	overflow: auto;
	z-index: 0;
}

#navigation {
	position: absolute;
	top: 50%;
	left: 65%;
	transition: top .5s ease-in,left .5s ease-in;
}

#navigation.offscreen {
	left: -50px;
}

#image {
	position: absolute;
	top: 10%;
	right: 35%;
	width: 65%;
	background: white;
	height: 90%;
	overflow: auto;
	transition: right .5s ease-in;
	z-index: 5;
}

#image.offscreen {
	right: 100%;
}

#image img {
	height: 100%;
}

#rss {
	position: absolute;
	top: 10%;
	left: 65%;
	width: 35%;
	height: 90%;
	overflow: auto;
	background: white;
	transition: left .5s ease-in;
	z-index: 5;
}

#rss.offscreen {
	left: 100%;
}

#rss a, #rss h1, #rss p {
	text-decoration: none;
	font-weight: normal;
	font: georgia;
	position: relative;
	margin: 5%;
	padding-left: 5%;
	padding-right: 5%;
}

#rss a, #rss h1 {
	text-decoration: none;
	display: block;
	color: white;
	font: georgia;
	background: #002855;
	border-bottom: solid #DAAA00;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}
