#header {
	position: absolute;
	height: 7%;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
}

#navigation {
	position: absolute;
	top: 50%;
	left: 65.25%;
}

#image {
	position: absolute;
	top: 7.5%;
	left: 0;
	width: 65%;
	background: white;
	height: 92%;
	overflow: auto;
}

#image img {
	height: 100%;
}

#content {
	position: absolute;
	top: 7.5%;
	left: 65.5%;
	width: 34.5%;
	height: 92%;
	overflow: auto;
	background: white;
}

html, body {
	height: 100%;
	width: 100%;
	background: #002855;
	margin: 0;
}
