<h2>I'll create a GUI interface using Visual Basic. See if I can track an IP
address.</h2>
<div>
  <div class="row">
    <button ng-click="" class="btn btn-link"></button>
  </div>
  <div class="row" ng-show="loaded">
      <div class="col-md-offset-1 col-md-4">
          <label for="start-date">Start Date:</label>
          <span class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="startOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" id="start-date" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open('startOpened', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </span>
      </div>
      <div class="col-md-4">
          <label for="end-date">End Date:</label>
          <span class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="endOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" id="end-date" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open('endOpened', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </span>
      </div>
      <div class="col-md-2">
        <label for="aggregate-by">Aggregate By:</label>
        <select class="form-control" ng-model="group">
          <option value="day"></option>
          <option ng-repeat="interval in groups" value="{{interval}}">{{ interval }}</option>
        </select>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <h3>Visitors {{ deviceModifier }}</h3>
    <span ng-show="deviceModifier"><a ng-click="unbreakdown()" style="cursor: pointer;"><b>(show visitors for all devices)</b></a></span>
    <table class="table">
      <thead>
        <tr>
          <th>Period</th>
          <th>Visitors</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="visit in visitsByPeriod">
          <td>{{ periodOf(group) }} {{ visit.period | date }}</td>
          <td>{{ visit.visitors }}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>  
  <div class="row">
    <div class='col-md-12'>
    <h3>Kiosks</h3>
    <p>(Non-Kiosk Devices: {{ nonKiosk(data) }})</p>
    <table class="table">
      <thead>
        <tr>
          <th>Device IP</th>
          <th>Last Ping</th>
          <th>Location</th>
          <th>Visitors</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="device in data.devices | filter : isKiosk">
          <td>{{ device.ip }}</td>
          <td>{{ device.updated_at | date : 'medium' }}</td>
          <td>{{ device.room.room_number }}</td>
          <td>{{ sumUp(visitsByDevice(device.id)) }} (<a ng-click="breakdown(device)" style="cursor: pointer;">{{ group.capitalize().adverbize() }} Breakdown</a>)</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
