<div role="tabpanel" class="tab-pane active" id="csv">
  <form method="post" class="form-inline" action="/administration/csv" accept-charset="UTF-8" enctype="multipart/form-data">
  <div class="form-group">
    <input type="file" id="uploaded_csv" name="uploaded_csv" class="form-control start"/>
  </div>
  <input type="submit" value="Upload" class="btn btn-defalut"/>
  <a class="pull-right btn" target="_blank" href="https://ucdavis.metabim.com/Buildings/Home/Managers/Managers.csv?Bkey=1066">
    FacilitiesLink
  </a>
</div>
