<div class="col-sm-3 list-group">
    <input type="text" id="search-directory" placeholder="Search {{types}}" class="form-control directory-object-search" ng-model="search" />
    <div class="admin-directory-list" id="admin-list">
        <a href="#" ng-hide="noNew" class="list-group-item list-group-item-success" ng-class="{active: !currentItem.id}" id="new-object">New {{type}}</a>

        <a href="#/dir_rooms/{{item.id}}" class="list-group-item directory-item" ng-class="{active: currentItem.id == item.id}" ng-repeat="item in items | filter: search" ng-click="change(item.id); $event.preventDefault();">
            {{ item.name }}
        </a>
    </div>
</div>
