<div class="loader" ng-hide="loaded"></div>
<search
    ng-show="loaded"
    search-type="People"
    search-type-singular="Person"
    search-items="people"
    current-item="person"
    new-item="newPerson"
    item-changer="changePerson">
</search>
<div class="col-sm-9" ng-show="loaded">
    <form method="post" class="form-horizontal directory-form" id="Person-form">
            <%# hidden_field_tag 'id' %>
            <%# hidden_field_tag 'type', type %>
            <%# hidden_field_tag request_forgery_protection_token.to_s, form_authenticity_token %>

            <div class="form-group">
              <label for="first" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-5">
                <input type="text" id="first" name="first" placeholder="First Name" class="form-control" ng-model="person.first" />
              </div>
              <div class="col-sm-5">
                <input type="text" name="last" placeholder="Last Name" class="form-control" ng-model="person.last" />
              </div>
            </div>

            <div class="form-group">
              <label for="title" class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
                <input type="text" name="title" id="title" placeholder="Title" class="form-control" ng-model="person.title" />
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" name="email" id="email" placeholder="Email" class="form-control" ng-model="person.email" />
              </div>
            </div>

            <div class="form-group">
              <label for="phone" class="col-sm-2 control-label">Phone</label>
              <div class="col-sm-10">
                <input type="tel" name="phone" id="phone" placeholder="Phone" class="form-control" ng-model="person.phone" />
              </div>
            </div>

            <div class="form-group">
              <label for="department" class="col-sm-2 control-label">Department</label>
              <div class="col-sm-10">
                <select id="department" class="form-control" ng-options="department.id as department.name for department in departments" ng-model="person.department_id">
                  <option value=""></option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="office-hours" class="col-sm-2 control-label">Office Hours</label>
              <div class="col-sm-10">
                <textarea id="office-hours"
                    class="form-control"
                    placeholder="e.g. M: 10:00 am - 2:00 pm"
                    ng-model="person.office_hours">
                </textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="rooms" class="col-sm-2 control-label">Rooms</label>
              <div class="col-sm-10">
                <select id="rooms"
                    class="form-control"
                    multiple="true"
                    ng-options="room.id as room.name for room in rooms"
                    ng-model="person.room_ids">
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button id="submit" class="btn btn-default" type="submit" ng-hide="editing" ng-click="create(person)">Create</button>
                <button id="submit" class="btn btn-default" type="submit" ng-show="editing" ng-click="update(person)">Update</button>
                <a href="{{placardLink}}" target="_blank" class="btn btn-default" ng-show="editing">Generate Placard</a>
                <button id="delete" class="btn btn-danger pull-right" type="button" ng-show="editing" ng-click="remove(person)">Delete</button>
              </div>
            </div>
</div>
