    <div role="tabpanel" class="tab-pane active" id="dir_dept">
        <div class="loader" ng-hide="loaded"></div>
        <!-- Search area -->
        <search
            ng-show="loaded"
            search-type="Departments"
            search-type-singular="Department"
            search-items="departments"
            current-item="department"
            new-item="newDepartment"
            item-changer="changeDepartment">
        </search>
        <div class="col-sm-9" ng-show="loaded">
            <form method="post" class="form-horizontal directory-form" id="Department-form">
                <!-- Title Form -->
            <div class="form-group">
              <label for="title" class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
                <input type="text" name="title" placeholder="Title" class="form-control" ng-model="department.title" />
              </div>
            </div>

            <!-- Room Number Form -->
            <div class="form-group">
              <label for="room" class="col-sm-2 control-label">Room Number</label>
              <div class="col-sm-10">
                <select id="rooms"
                    class="form-control"
                    ng-options="room.id as room.name for room in rooms"
                    ng-model="department.room_id">
                    <option value="" label=""></option> 
                </select>
              </div>
            </div>

            <!-- Associated buttons -->
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" id="submit" ng-hide="editing" ng-click="create(department)">Create</button>
                <button class="btn btn-default" id="submit" ng-show="editing" ng-click="update(department)">Update</button>
                <button class="btn btn-danger pull-right" id="delete" ng-show="editing" ng-click="remove(department)">Delete</button>
                <a href="{{generateQrLink(department.room_id)}}" target="_blank" class="btn btn-default" ng-show="editing">Generate QR</a>
              </div>
            </div>
    </div>
