<%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
<script type="text/javascript">
  var notice = "<%= params[:notice] %>";
  var error = "<%= params[:error] %>";
</script>

<h1 id="directory-title">Administration</h1>

<div class="row cache-building hidden">
  <div class="col-sm-3 text-right">
    Cache building progress
  </div>
  <div class="col-sm-7">
    <div class="progress">
      <div id="cache-progress" class="progress-bar" role="progressbar" style="width: 100%;">
        No cache building in progress
      </div>
    </div>
  </div>
</div>

<div class="admin-view" ng-app="AdminApp">
  <div class="alert" role="alert">
    <span class="notice"></span>
  </div> <!-- .alert -->

  <div role="tabpanel" class="tabs-left" id="admin-menu" ng-controller="NavigationCtrl">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <% permitted_to? :origin, :administration do %>
      <li role="presentation" ng-class="{active: isActive('/kiosk')}">
        <a href="#kiosk" aria-controls="kiosk" role="tab" data-toggle="tab" class="tab-link">Set Kiosk Location</a>
      </li>
      <% end %>

      <% permitted_to? :map_upload, :administration do %>
      <li role="presentation" ng-class="{active: isActive('/svg')}">
        <a href="#svg" aria-controls="svg" role="tab" data-toggle="tab" class="tab-link">Manage SVG Maps</a>
      </li>
      <% end %>

      <% permitted_to? :csv, :administration do %>
      <li role="presentation" ng-class="{active: isActive('/csv')}">
        <a href="#csv" aria-controls="csv" role="tab" data-toggle="tab" class="tab-link">Upload New Facilities CSV</a>
      </li>
      <% end %>

      <% permitted_to? :manage, :rss_feeds do %>
      <li role="presentation" ng-class="{active: isActive('/rss')}">
        <a href="#rss" aria-controls="rss" role="tab" data-toggle="tab" class="tab-link">Manage RSS Fetching</a>
      </li>
      <% end %>

      <% permitted_to? :administer, :administration do %>
      <li role="presentation" ng-class="{active: isActive('/unmatched')}">
        <a href="#unmatched" aria-controls="unmatched" role="tab" data-toggle="tab" class="tab-link">Unmatched Search Query Logs</a>
      </li>
      <li role="presentation" ng-class="{active: isActive('/search-logs')}">
        <a href="#search-logs" aria-controls="search-logs" role="tab" data-toggle="tab" class="tab-link">Search Term Logs</a>
      </li>
      <% end %>

      <% permitted_to? :administer_directory, :administration do %>
      <li role="presentation" ng-class="{active: isActive('/dir_dept')}">
        <a href="#dir_dept" aria-controls="dir_dept" role="tab" data-toggle="tab" class="tab-link">Edit Department Locations</a>
      </li>
      <li role="presentation" ng-class="{active: isActive('/dir_people')}">
        <a href="#dir_people" aria-controls="dir_people" role="tab" data-toggle="tab" class="tab-link">Edit People Directory</a>
      </li>
      <li role="presentation" ng-class="{active: isActive('/dir_rooms')}">
        <a href="#dir_rooms" aria-controls="dir_rooms" role="tab" data-toggle="tab" class="tab-link rooms">Edit Rooms Directory</a>
      </li>
      <% end %>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div ng-view role="tabpanel" class="tab-pane active">
      </div>
 

      <% permitted_to? :administer_directory, :administration do %>
<!--      <div role="tabpanel" class="tab-pane" id="dir_dept">
         <%# render "directory_form", type: 'Department' %>
      </div> -->

      <div role="tabpanel" class="tab-pane" id="dir_people">
         <%# render "directory_form", type: 'Person' %>
      </div>

      <div role="tabpanel" class="tab-pane" id="dir_rooms">
         <%# render "directory_form", type: 'Room' %>
      </div>
      <% end %>

    </div>

  </div>
</div> <!-- .admin-view -->
