#myMaps {
    position: absolute;
    right: 0%;
    width: 85%;
    height: 100%;
}

#myMaps svg {
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
}

#floorPicker {
    position: absolute;
    height: 100%;
    left: 0%;
    width: 15%;
    overflow: auto;
}

#floorPicker ul {
    list-style: none;
    list-style-type: none;
    margin: 5%;
    padding: 0;
    vertical-align: middle;
}

#floorPicker li {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    background: #CCD4E0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
    border: thick solid #008EAA;
    border-radius: 10px;
    font-family: Lucida Sans Unicode;
}

#floorPicker li.selected {
    border: thick solid #BA0C2F;
}

#wfAccessibility img {
    position: absolute;
    height: 80%;
    width: 80%;
    padding: 10%;
}

#wfAccessibility a {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 60px;
    width: 60px;
    background: #CCD4E0; /* Old browsers */
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    border-radius: 50%;
    border: thick solid #008EAA;
    z-index: 10;
    margin: auto;
}

#wfAccessibility a.selected {
    border: thick solid #BA0C2F;
}

#mapLoading{
    position: absolute;
    right: 0%;
    width: 85%;
    height: 100%;
}

#mapLoading img {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -82px;
    margin-top: -82px;
}
