<ul class="vertical-nav">
  <li>
    <a href="/people" class="btn-people icon-people" >
      <span class="text-people">people</span>
    </a>
  </li>
  <li>
    <a href="/departments" class="btn-departments icon-departments" >
      <span class="text-departments">departments</span>
    </a>
  </li>
  <li>
    <a href="/events" class="btn-events icon-events" >
      <span class="text-events">events</span>
    </a>
  </li>
  <li>
    <a href="/rooms" class="btn-rooms icon-rooms" >
      <span class="text-rooms">rooms</span>
    </a>
  </li>
  <li>
    <a href="/map" class="btn-map icon-map" >
      <span class="text-map">map</span>
    </a>
  </li>
  <li>
    <a href="/about" class="btn-about icon-about" >
      <span class="text-about">about</span>
    </a>
  </li>
</ul> <!-- vertical-nav -->
