<script type="text/javascript">
  // Call redirect timer function
  setRedirectToHome();
  $(function() {
    $('a.btn-home').click(function(e) {
      e.preventDefault();
      var anchor = $(this), h;
      h = anchor.attr('href');
      $('ul.vertical-nav').animate({left: '-200%'}, 500, function() {
        window.location = h;
      })
    });
  });
</script>

<div class="row text-center">
  <div class="col-xs-8 col-xs-offset-2">
    <%= image_tag("ssh_building.png", class: "building-pic", alt: "Social Sciences and Humanities Building") %>
  </div>
</div>
<div class="row text-center">
  <div class="col-xs-8 col-xs-offset-2">
    <p>
      Lorem ipsum dolor sit amet, mei ad consul fabulas argumentum, pro at vidit tantas honestatis, quas etiam vulputate in per. Ad vix percipit accusata. Ne usu docendi alienum ocurreret, pertinacia sententiae sea ei. In ius debitis euripidis interesset, bonorum graecis cu mel, quot dicit melius ad vim. Diam case officiis est ad. Pri id agam nulla, qui te partiendo intellegam.

      Quot malorum sapientem ne qui, id utinam consulatu mei. Suas mucius similique ei mei, primis feugiat suscipit eos ex. Vis soleat placerat constituto no, cu est vidit doming, ei vim adhuc inermis. Nec et nobis nominati. Virtute invidunt quaerendum est ei, vis eu detracto lucilius. Mediocrem salutandi eum ei, ea eam agam commune consulatu, error similique quaerendum per cu.

      In vitae vocent cum. Ex euismod intellegebat definitiones eum, alterum definitiones cu mea, utroque civibus albucius ne est. No eum doctus luptatum moderatius. Ei oratio labores sit, in mel sint electram, cum ea appetere repudiare persecuti. Ea qui vero dissentiet, an cum aeque saperet senserit, in animal repudiandae mel.

      Qui ex equidem accumsan assueverit. Usu ei probo mentitum constituam, vis no mucius animal instructior. Vis id feugiat pericula, in ullum semper qui. Ad eum dictas inciderint. Nec graeci splendide intellegebat in, duo amet dicant efficiantur an, vis ne tale etiam munere.

      Ius at tamquam fabellas, dicat paulo maluisset sed te, eos in iusto latine conclusionemque. Sed ea nihil inermis liberavisse, stet veri quidam te eos, pro tollit aliquip apeirian an. Admodum scribentur efficiantur in vis, eam fugit concludaturque cu. Nam in utinam qualisque. Et per menandri explicari. Id debitis veritus corpora eum.

      Ius te reque dissentiet contentiones, autem ludus feugiat cum ei. At cibo aliquid sed, usu ipsum quodsi repudiandae ea. Sed sonet hendrerit interpretaris ei. Sed te congue persius volutpat, an sit rebum commodo reprehendunt. Probo mentitum voluptaria ut nec, nominati gubergren ullamcorper id eos. Ut recteque disputando interpretaris est, ius an magna movet.

      Eruditi utroque in nam. Mei ei viris malorum vivendum, sit recteque contentiones ei, numquam molestie tacimates eam te. Mea eu rebum exerci neglegentur, ex soluta labitur inermis mea. Pro quem regione habemus at, sed petentium laboramus delicatissimi eu, congue iracundia eu vel. Utroque accusamus ne nam, te mel affert disputando.

      Tota dignissim ei eum, purto omnium accumsan sed no. Ad essent honestatis vis, brute nostro similique ne pri, ei eum gubergren reprehendunt. No nam movet utinam malorum, an duo cibo liber copiosae. Sed odio facete accusamus ea. Has diam iusto ad, nec honestatis repudiandae no.

      Vis no vidit utroque vituperatoribus, brute dicant populo in ius, te affert prompta per. Eam soleat possim ea. Cum commodo tritani percipit ex, vis maiorum blandit nominavi in. Vix id oporteat intellegat. Modo commune pri at. Ut has vidit nulla facilisis, pri legere utroque tacimates ad.

      Nam at solet tritani. In ius debitis dolores. Quo utroque accusata eu, iracundia torquatos mea ea. Facete graecis id his, summo praesent referrentur cu mea. Inimicus argumentum ut cum, ne sit sale movet tempor. Alia quot mei ne, qui aliquid senserit ex.
    </p>
  </div>
</div>
