<div class="row text-center">
  <div class="col-xs-8 col-xs-offset-2">
    <%= image_tag("ssh_building.png", class: "building-pic", alt: "Social Sciences and Humanities Building") %>
  </div>
</div>
<div class="row text-center">
  <div class="col-xs-8 col-xs-offset-2">
    <p>
      The Social Sciences and Humanities Building at the University of California, Davis, is the culmination of an intensive effort to blend the issues of programmatic requirements, large urban patterns, and the spirit of the site.
    </p>
    <p>
      The building forms of the facility suggest the geological forces that created the great Central Valley of California. The building has the environment of a crossroads, which celebrates intellectual exchange and cultural vitality through a series of exterior courtyards cutting into the valley floor along a serpentine path. This path, bisecting the site, links the Memorial Union with the campus gateway at Third and A Streets. Exposed along this path are a number of departmental access points and academic offices, as well as the students’ entrance to the dean’s office, seminar rooms and the lecture hall.
    </p>
    <p>
      The second strata rises above the valley floor. It is fragmented by lines perpendicular to tangents along the serpentine path. These forms further define the courtyards below and create a pattern reminiscent of the deformation of the Valley’s agricultural grid by natural waterways. Village-like, these one and two-storeyed structures house the remainder of departmental entries, academic offices and a secondary entrance to the dean’s office. The decentralized arrangement creates peninsular open spaces, which allow secondary and tertiary entry points to the sunken courtyards.
      The upper strata of the project, rising from the site in two linear metallic banks bridging the courtyards below, contains academic offices, departmental libraries, conference rooms and research areas. Suggesting the subductive forces that formed the Sierra Nevada and Coast Range, these forms erupt from the site at key intersections, taking advantage of views, natural light and the cooling Sacramento Delta breezes.
    </p>
  </div>
</div>
