<% content_for :javascript do %>
  <%= javascript_include_tag "admin" %>
  <%= javascript_include_tag "search" %>
<% end %>
<div class="admin-view">
  <h1>Set start location</h1>
    <input name="start" id="start" type="text" class="form-control start" placeholder="">
    <button type="button" class="submit-start">Submit Start Location</button>

  <h1>input csv</h1>



</div>
