<div id="directory-banner">
    <h1 id="directory-title">People Directory</h1>
</div>
<div class="directory-list">
    <div class="panel panel-default directory-card people-card">
        <h1 class="panel-heading">John Smith</h1>
        <table class="card-content">
            <tr>
                <td>Room 102H</td>
                <td>Psychology</td>
            </tr>
            <tr>
                <td>johnsmith@gmail.com</td>
                <td>(707)777-7777</td>
            </tr>
         </table>
    </div>
    <div class="panel panel-default directory-card people-card">
        <h1 class="panel-heading">John Smith</h1>
        <table class="card-content">
            <tr>
                <td>Room 102H</td>
                <td>Psychology</td>
            </tr>
            <tr>
                <td>johnsmith@gmail.com</td>
                <td>(707)777-7777</td>
            </tr>
         </table>
    </div>
    <div class="panel panel-default directory-card people-card">
        <h1 class="panel-heading">John Smith</h1>
        <table class="card-content">
            <tr>
                <td>Room 102H</td>
                <td>Psychology</td>
            </tr>
            <tr>
                <td>johnsmith@gmail.com</td>
                <td>(707)777-7777</td>
            </tr>
         </table>
    </div>
    <div class="panel panel-default directory-card people-card">
        <h1 class="panel-heading">John Smith</h1>
        <table class="card-content">
            <tr>
                <td>Room 102H</td>
                <td>Psychology</td>
            </tr>
            <tr>
                <td>johnsmith@gmail.com</td>
                <td>(707)777-7777</td>
            </tr>
         </table>
    </div>
    <div class="panel panel-default directory-card people-card">
        <h1 class="panel-heading">John Smith</h1>
        <table class="card-content">
            <tr>
                <td>Room 102H</td>
                <td>Psychology</td>
            </tr>
            <tr>
                <td>johnsmith@gmail.com</td>
                <td>(707)777-7777</td>
            </tr>
         </table>
    </div>
    <div class="panel panel-default directory-card people-card">
        <h1 class="panel-heading">John Smith</h1>
        <table class="card-content">
            <tr>
                <td>Room 102H</td>
                <td>Psychology</td>
            </tr>
            <tr>
                <td>johnsmith@gmail.com</td>
                <td>(707)777-7777</td>
            </tr>
         </table>
    </div>
    <div class="panel panel-default directory-card people-card">
        <h1 class="panel-heading">John Smith</h1>
        <table class="card-content">
            <tr>
                <td>Room 102H</td>
                <td>Psychology</td>
            </tr>
            <tr>
                <td>johnsmith@gmail.com</td>
                <td>(707)777-7777</td>
            </tr>
         </table>
    </div>
    <div class="panel panel-default directory-card people-card">
        <h1 class="panel-heading">John Smith</h1>
        <table class="card-content">
            <tr>
                <td>Room 102H</td>
                <td>Psychology</td>
            </tr>
            <tr>
                <td>johnsmith@gmail.com</td>
                <td>(707)777-7777</td>
            </tr>
         </table>
    </div>
    <div class="panel panel-default directory-card people-card">
        <h1 class="panel-heading">John Smith</h1>
        <table class="card-content">
            <tr>
                <td>Room 102H</td>
                <td>Psychology</td>
            </tr>
            <tr>
                <td>johnsmith@gmail.com</td>
                <td>(707)777-7777</td>
            </tr>
         </table>
    </div>
</div>

