<row>
  <ul class="landing-nav col-xs-10 col-xs-offset-1">
    <li>
      <a href="/map" class="btn-map icon-map"><!-- Map --></a>
      <span>Map</span>
    </li>
    <li>
      <a href="/rooms" class="btn-rooms icon-rooms"><!-- Rooms --></a>
      <span>Rooms</span>
    </li>
    <li>
      <a href="/events" class="btn-events icon-events"><!-- Events --></a>
      <span>Events</span>
    </li>
    <li>
      <a href="/departments" class="btn-departments icon-departments"><!-- Departments --></a>
      <span>Departments</span>
    </li>
    <li>
      <a href="/people" class="btn-people icon-people"><!-- People --></a>
      <span>People</span>
    </li>
  </ul>
</row>
