<row>
  <div class="landing-container">
    <a href="/map">
      <button type="button" class="btn btn-map btn-landing glyphicon glyphicon-globe" >
        <div class="icon-text">Map</div>
      </button>
    </a>
    <a href="/rooms">
      <button type="button" class="btn btn-rooms btn-landing glyphicon glyphicon-log-in" >
        <div class="icon-text">Rooms</div>
      </button>
    </a>
    <a href="/events">
      <button type="button" class="btn btn-events btn-landing glyphicon glyphicon-calendar" >
        <div class="icon-text">Events</div>
      </button>
    </a>
    <a href="/departments">
      <button type="button" class="btn btn-departments btn-landing glyphicon glyphicon-tower" >
        <div class="icon-text">Departments</div>
      </button>
    </a>
    <a href="/people">
      <button type="button" class="btn btn-people btn-landing glyphicon glyphicon-user" >
        <div class="icon-text">People</div>
      </button>
    </a>
  </div>
</row>
