<row>
        <button type="button" class="btn btn-map btn-xl btn-landing">Map</button>
        <button type="button" class="btn btn-rooms btn-xl btn-landing">Rooms</button>
        <button type="button" class="btn btn-departments btn-xl btn-landing">Departments</button>
        <button type="button" class="btn btn-people btn-xl btn-landing">People</button>
</row>
