<row>
        <button type="button" class="btn btn-map btn-landing">Map</button>
        <button type="button" class="btn btn-rooms btn-landing">Rooms</button>
        <button type="button" class="btn btn-departments btn-landing">Departments</button>
        <button type="button" class="btn btn-people btn-landing">People</button>
</row>
