<table id="landing-buttons">
    <tr>
        <td><a href="#" class="btn btn-default btn-circle btn-circle-people">People</a></td>
        <td><a href="#" class="btn btn-default btn-circle btn-departments">Departments</a></td>
    <tr>
        <td><a href="#" class="btn btn-default btn-circle btn-events">Events</a></td>
        <td><a href="#" class="btn btn-default btn-circle btn-map">Map</a></td>
</table>
