<% content_for :javascript do %>
  <%= javascript_include_tag "search" %>
<% end %>
<row>
        <a href="/map" ><button type="button" class="btn btn-map btn-landing">Map</button></a>
        <a href="/rooms" ><button type="button" class="btn btn-rooms btn-landing">Rooms</button></a>
        <a href="/departments" ><button type="button" class="btn btn-departments btn-landing">Departments</button></a>
        <a href="/people" ><button type="button" class="btn btn-people btn-landing">People</button></a>
</row>
