<input name="q" type="search" id="search" class="form-control search" autofocus autocomplete="off"
  placeholder="Search for people, departments, events, or rooms" value="<%= @query %>">

<div class="directory-list">
  <div id="scrubber-view" >
    <ul class="nav nav-list" id="slider-vertical">
    </ul>
  </div>
  <div id="result"></div>
</di>