<div class="row">
  <div class="col-xs-12">
    <!-- div required for the transformY/top vertical centering technique -->
    <div style="height: 90vh;">
      <div class="text-center" style="position: relative; top: 50%; transform: translateY(-50%);">
        <h1>
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          Access Denied
        </h1>
    </div>
  </div>
</div>