/*
 *= require_self
 *= require directory_objects_show
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.col-xs-2-modified {
  width: 11%;
}

.col-xs-10-modified {
  width: 88%;
}

/* bootstrap-overwrite */

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-bottom: 7px;
}

.navbar-default {
    background-color: white !important;
    border-color: white !important;
    z-index: 50 !important;
}

.navbar-default .navbar-toggle {
    border-color: white !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}

.nav > li > a {
  padding: 0px;
}

.btn-block {
  width: inherit !important;
}

.glyphicon {
  color: gray;
  font-size: 13pt;
}

#result {
  position: absolute;
  border: 1px solid #d1d1d1;
  top: 103%;
  width: 100%;
  z-index: 50;
  background-color: white;
  max-height: 150px;
  overflow: auto;
}
