div#map {
	height: 480px;
	width: 785px;
}

/* may be unnecessary now */
div#map div {
	display: inline-block;
	height: 480px;
	width: 600px;
}

div#mapLoading {
	font-size: 10em;
	left: 50px;
	position: absolute;
	top: 60px;
	z-index: -1;
}

div#map svg {
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
}

/* map target information pane */
div#destination-view {
  margin-right: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  height: 100%;
  text-align: center;
}
div#destination-view h1 {
  font-size: 4.5rem;
  color: gray;
}


div#destination-view h2 {
  font-size: 3rem;
  color: gray;
}

div#destination-view span {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
}

#left-nav {
  height: 100%;
}
.left-nav-link {
  height: 16%;
  width: 90%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  text-align: center;
}

body, html, div, #main-view {
  height: 100%;
}

.btn-xl{
  height: 95%;
  width: 95%;
  font-size: 3rem;
  border-radius: 8px;
  color: white;
}

.btn-landing {
    height: 30%;
    width: 21%;
    margin-top: 20%;
    margin-right: 2%;
}

.btn-home {
  background-color: #C26E60;
}
.btn-people {
  background-color: #E6A65D;
}
.btn-events {
  background-color: #ACA39A;
}
.btn-rooms {
  background-color: #5B7F95;
}
.btn-departments {
  background-color: #B1B3B3;
}

.btn-search {
  background-color: #0099FF;
  position: absolute;
  right: 2%;
  top: 2%;
  height: 10%;
  width: 10%;
  font-size: 3rem;
  border-radius: 8px;
  color: white;
}

.btn-map {
  background-color: #00573F;
}

#directory-banner {
  height: 7%;
}

h1#directory-title {
  text-align: center;
  position: relative;
  font-size: 5rem;
  color: gray;
  top: 40px;
}

.directory-list {
  padding-top: 4%;
  width: 100%;
  height: 90%;
}

.directory-card {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  height: 26%;
  display: inline-block;
  width: 31%;
  text-align: center;
  font-size: 2.5rem;
}

.directory-card table {
  height: 50%;
  width: 100%;
  text-align: left;
}

div.people-card {
  border: solid #E6A65D 4px;
  color: #FFF;
  background-color: #E6A65D;
  text-shadow: 0 0 2px #000;
}

.card-content {
  text-align: center;
  line-height: 27px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  text-align: center;
  font-size: 2.5rem;
  margin-left: 7px;
}

div.people-card h1.panel-heading
{
  color: #333;
  font-style: bold;
  font-size: 4rem;
  background-color: white;
  text-shadow: none;
}

table#landing-buttons {
  margin-left: 10%;
  margin-top: 10%;
  }
#site-container {
  width: 100%;
  height: 100%;
}
