div#map {
	height: 480px;
	width: 785px;
}

/* may be unnecessary now */
div#map div {
	display: inline-block;
	height: 480px;
	width: 600px;
}

div#mapLoading {
	font-size: 10em;
	left: 50px;
	position: absolute;
	top: 60px;
	z-index: -1;
}

div#map svg {
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
}

/* map target information pane */
div#destination-view {
  visibility: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  text-align: center;
  width: 25rem;
  height: 75%;
  border: none;

  position: absolute;
  top: 17%;
  right: -300px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 20px 100px 0 rgba(0,0,0,.2);
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all 0.5s cubic-bezier(0.4,0,.2,1);
}
div#destination-view h1 {
  font-size: 4.5rem;
  color: gray;
}


div#destination-view h2 {
  font-size: 3rem;
  color: gray;
}

div#destination-view span {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
}

#left-nav {
  height: 100%;
}
.left-nav-link {
  height: 16%;
  width: 90%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  text-align: center;
}

body, html, div, #main-view {
  height: 100%;
}

a, a:hover, a:active {
  color: #FFF;
}

.btn-xl{
  height: 95%;
  width: 95%;
  font-size: 3.7rem;
  border-radius: 32px;
  color: white;
}

.btn-landing {
  height: 30%;
  width: 19%;
  font-size: 4.5rem;
  margin-top: 20%;
  margin-right: 2%;
  border-radius: 64px;
  color: white;
}

.btn-home {
  background-color: #C26E60;
}
.btn-people {
  background-color: #E6A65D;
}
.btn-events {
  background-color: #ACA39A;
}
.btn-rooms {
  background-color: #5B7F95;
}
.btn-departments {
  background-color: #B1B3B3;
}

.search-container {
  position: absolute;
  right: 2%;
  top: 2%;
  height: 10%;
  width: 10%;
}

.btn-search {
  background-color: #0099FF;
  font-size: 3rem;
  border-radius: 8px;
  color: white;
}

.btn-map {
  background-color: #00573F;
}

#directory-banner {
  height: 7%;
}

h1#directory-title {
  text-align: center;
  position: relative;
  font-size: 5rem;
  color: gray;
  top: 40px;
}

.directory-list {
  padding-top: 4%;
  width: 100%;
  height: 90%;
}

.directory-card {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  height: 26%;
  display: inline-block;
  width: 31%;
  text-align: center;
  font-size: 2.5rem;
  overflow: hidden;
}

.directory-card table {
  height: 50%;
  width: 100%;
  text-align: left;
}

div.directory-card {
  color: #FFF;
  text-shadow: 0 0 2px #000;
}

div.people-card {
  border: solid #E6A65D 4px;
  background-color: #E6A65D;
}

div.event-card {
  border: solid #ACA39A 4px;
  background-color: #ACA39A;
}

div.department-card {
  border: solid #B1B3B3 4px;
  background-color: #B1B3B3;
}

div.room-card {
  border: solid #5B7F95 4px;
  background-color: #5B7F95;
}


.card-content {
  text-align: center;
  line-height: 27px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
  font-size: 2.5rem;
  margin-left: 40px;
}

div.directory-card h1.panel-heading
{
  color: #333;
  font-style: bold;
  font-size: 4rem;
  background-color: white;
  text-shadow: none;
  overflow: hidden;
  max-height: 6rem;
}

table#landing-buttons {
  margin-left: 10%;
  margin-top: 10%;
  }
#site-container {
  width: 100%;
  height: 100%;
}

body {
  background: white;
}

/* Search interface styling below */
.search-submit {
  display: none;
}

.search-container {
  overflow: hidden;
  float: right;
  height: 7em;
  width: 7em;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  z-index: 999;
}

.search-container:hover {
  width: 70em;
}

.search-container:hover form input.search {
  display: absolute;
  width: 59em;
}

input.search {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  float: left;
  width: 0em;
  height: 3em;
  margin: 1em;
  margin-right: -4.5em;
  background: white;
  color: #6a5d4f;
  font-size: 1em;
  font-weight: 600;
  padding: 0px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  position: absolute;
  z-index: -1;
}

input.search:focus {
  outline: none;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
}

.search-container form button {
  float: right;
  width: 2.75em;
  height: 2.75em;
  margin: 0.125em;
  background: #6a5d4f;
  text-align: center;
  font-size: 2em;
  color: #fdf6e3;
  border-radius: 50%;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
  text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);
}

.search-container form button i {
  margin-top: 0.3em;
}

#floor-picker
{
    height: 100px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.floor {
    width: 15%;
}

.show-map
{
  height: 89%;
}

.admin-view
{
  display: inline-block;
  height: 79%;
}
