$search-color: #B1B3B3;
$home-color: #B1B3B3;
$people-color: #5B7F95;
$events-color: #9CAF88;
$rooms-color: #C26E60;
$departments-color: #E6A65D;
$map-color: #00573F;
$floor-color: #ACA39A;
$about-color: #B1B3B3;

.icon-home:after     { content: "\E805"; }
.icon-people:after     { content: "\E802"; }
.icon-departments:after      { content: "\E800"; }
.icon-events:after       { content: "\E801"; }
.icon-rooms:after { content: "\E809"; }
.icon-map:after { content: "\E804"; }
.icon-search:after { content: "\E806"; }
.icon-about:after { content: "\E803"; }

@font-face {
  font-family: 'fontello';
  src: url('fontello.eot');
  src: url('fontello.eot?#iefix') format('embedded-opentype'),
       url('fontello.woff') format('woff'),
       url('fontello.ttf') format('truetype'),
       url('fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
}

#site-container {
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

/* may be unnecessary now */
#map div {
	display: inline-block;
	height: 480px;
	width: 785px;
}

#mapLoading {
	font-size: 10em;
	left: 50px;
	position: relative;
	top: 60px;
	z-index: -1;
}

#map svg {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* map target information pane */
#destination-view {
  visibility: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  text-align: center;
  width: 25%; /* Since the map is the other 75% (col-xs-9) */
  height: 85%;
  border: none;

  position: absolute;
  top: 20%;
  right: -1000px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 20px 100px 0 rgba(0,0,0,.2);
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all 0.5s cubic-bezier(0.4,0,.2,1);

  h1 {
    font-size: 4rem;
    color: gray;
  }

  h2 {
    font-size: 3rem;
    color: gray;
  }

  .replay-container {
    position: absolute;
    bottom: 20px;

    a.replay {
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      line-height: 1;
      color: black;
      text-shadow: 0 1px 0 white;
      opacity: 0.2;
      filter: alpha(opacity=20);

      &:hover {
        text-decoration: none;
        opacity: 0.5;
        filter: alpha(opacity=50);
      }
    }
  }

  span {
    color: #333;
    font-size: 2rem;
    font-weight: bold;
  }
}

a, a:hover, a:active {
  color: #FFF;
}

.btn-xl{
  height: 95%;
  width: 95%;
  font-size: 3.7rem;
  border-radius: 32px;
  color: white;
}

ul.horizontal-nav {
  list-style: none;
  text-align: center;

  &.landing {
    margin-top: 15%;

    li a {
      width: 144px;
      height: 144px;
      line-height: 135px;
      font-size: 6em;
      border: 7px solid #fff;

      &:before {
        top: -18px;
        left: -18px;
        bottom: -18px;
        right: -18px;
      }
    }
  }

  &.floors {
    span {
      text-transform: uppercase;
      font-size: 1.5em;
      color: $floor-color;
      padding-right: 0.3em;
    }

    li a {
      width: 64px;
      height: 64px;
      line-height: 54px;
      font-size: 2em;
      border: 5px solid #fff;

      &.active {
        box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
        background-color: #5B7F95;
      }

      &:before {
        top: -12px;
        left: -12px;
        bottom: -12px;
        right: -12px;
      }
    }
  }

  li {
    position: relative;
    display: inline-block;
    margin-right: -4px;

    span {
      color: #777;
      font-size: 1.2em;
      text-transform: uppercase;
      white-space: normal;
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
    }

    &:before {
      content: "";
      display: block;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #fff;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: -1;
    }

    a {
      display: block;
      margin: 15px;
      position: relative;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0px 3px 8px 0 rgba(0,0,0,.3);

      &:before {
        content: "";
        display: block;
        background: #fff;
        border-top: 2px solid #ddd;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        box-shadow: inset 0px 8px 48px #ddd;
      }
    }

    &:hover {
      a {
        color: #eee;
        text-decoration: none;
      }
      span {
        color: #333;
      }
    }
  }
}

ul.vertical-nav {
  position: relative;
  list-style: none;
  text-align: center;
  padding: 0;

  li {
    position: relative;

    span {
      color: #777;
      font-size: 1.2em;
      text-transform: uppercase;
      white-space: normal;
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
    }

    a {
      display: block;
      margin: 25px 10px;
      width: 80px;
      height: 80px;
      position: relative;
      text-align: center;
      line-height: 70px;
      border-radius: 50%;
      border: 7px solid #fff;
      font-size: 3em;
      box-shadow: 0px 3px 8px 0 rgba(0,0,0,.3);

      &:before {
        content: "";
        display: block;
        background: #fff;
        border-top: 2px solid #ddd;
        position: absolute;
        top: -18px;
        left: -18px;
        bottom: -18px;
        right: -18px;
        z-index: -1;
        border-radius: 50%;
        box-shadow: inset 0px 8px 48px #ddd;
      }
    }

    &:hover {
      a {
        color: #eee;
        text-decoration: none;
      }
      span {
        color: #333;
      }
    }
  }
}

.btn-home {
  background-color: $home-color;
}

.btn-people {
  background-color: $people-color;
}

.btn-events {
  background-color: $events-color;
}

.btn-rooms {
  background-color: $rooms-color;
}

.btn-departments {
  background-color: $departments-color;
}

.btn-map {
  background-color: $map-color;
}

.btn-search {
  background: $search-color;
}

.btn-floor {
  background: $floor-color;
}

.btn-about {
  background: $about-color;
}

#directory-banner {
  height: 7%;
}

h1#directory-title {
  text-align: center;
  position: relative;
  font-size: 5rem;
  color: gray;
  top: 40px;
}

.directory-list {
  padding-top: 4%;
  width: 100%;
  height: 90%;
}

.directory-card {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  height: 26%;
  display: inline-block;
  width: 31%;
  text-align: center;
  font-size: 2.5rem;
  overflow: hidden;
}

.directory-card table {
  height: 50%;
  width: 100%;
  text-align: left;
}

div.directory-card {
  color: #FFF;
  text-shadow: 0 0 2px #000;
}

div.people-card {
  border: solid $people-color 4px;
  background-color: $people-color;
}

div.event-card {
  border: solid $events-color 4px;
  background-color: $events-color;
}

div.department-card {
  border: solid $departments-color 4px;
  background-color: $departments-color;
}

div.room-card {
  border: solid $rooms-color 4px;
  background-color: $rooms-color;
}


.card-content {
  text-align: center;
  line-height: 27px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
  font-size: 2.5rem;
  margin-left: 40px;
}

div.directory-card h1.panel-heading
{
  color: #333;
  font-style: bold;
  font-size: 4rem;
  background-color: white;
  text-shadow: none;
  overflow: hidden;
  max-height: 6rem;
}

table#landing-buttons {
  margin-left: 10%;
  margin-top: 10%;
}

body {
  background: white;
}

/* Search interface styling below */

.right-btn-container {
  position: absolute;
  z-index: 999;
  right: 30px;

  &.search {
    top: 30px;
  }

  &.home, &.about {
    bottom: 30px;
  }

  a {
      display: block;
      width: 55px;
      height: 55px;
      position: relative;
      text-align: center;
      color: #FFF;
      line-height: 45px;
      border-radius: 50%;
      border: 5px solid #fff;
      font-size: 2em;
      box-shadow: 1px 3px 8px 0 rgba(0,0,0,.3);

      &:before {
        content: "";
        display: block;
        background: #fff;
        border-top: 2px solid #ddd;
        position: absolute;
        top: -11px;
        left: -11px;
        bottom: -11px;
        right: -11px;
        z-index: -1;
        border-radius: 50%;
        box-shadow: inset 2px 4px 20px #ddd;
      }

      &:hover {
        color: #999;
        text-decoration: none;
      }
  }
}

input.search {
  float: left;
  width: 80%;
  height: 3em;
  margin: 1em;
  margin-right: -4.5em;
  background: white;
  color: #6a5d4f;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

input.search:focus {
  outline: none;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
}

.floor {
    width: 15%;
}

.show-map
{
  height: 89%;
}

.admin-view
{
  display: inline-block;
  height: 79%;
}
