$search-color: #B1B3B3;
$logout-color: #B1B3B3;
$home-color: #B1B3B3;
$people-color: #5B7F95;
$events-color: #9CAF88;
$rooms-color: #C26E60;
$departments-color: #E6A65D;
$map-color: #00573F;
$floor-color: #ACA39A;
$about-color: #B1B3B3;
$vertical-nav-width: 130px;
$right-btn-container-width: 55px;
$right-btn-container-right-offset: 30px;
$vertical-slider-element-height: 15px;

.icon-home:after     { content: "\E805"; }
.icon-people:after     { content: "\E802"; }
.icon-departments:after      { content: "\E800"; }
.icon-events:after       { content: "\E801"; }
.icon-rooms:after { content: "\E809"; }
.icon-map:after { content: "\E804"; }
.icon-search:after { content: "\E806"; }
.icon-about:after { content: "\E803"; }
.icon-accessible:after { content: "\E807"; }
.icon-repeat:after { content: "\E808"; }
.icon-logout:after { content: "\E80A"; }

@font-face {
  font-family: 'fontello';
  src: font-url('fontello.eot');
  src: font-url('fontello.eot?#iefix') format('embedded-opentype'),
       font-url('fontello.woff') format('woff'),
       font-url('fontello.ttf') format('truetype'),
       font-url('fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
}

body {
  background: white;
}

/* Used on every page except 'landing' */
.main-content {
  width: 100%;
}

#map>div {
  width: 100%;
  height: 73vh; //calc(100vh - 200px);
}

#mapLoading {
	font-size: 7vw;
  color: #777;
  text-align: center;
  height: 8vw;
  position: relative;

  #mapLoadingInner {
    width: 100%;
    height: auto;

    position: relative;
    top: 45%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);

    font-size: 5vw;
  }
}

#map svg {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  // g {
  //     -webkit-transition: all 0.5s ease-in-out;
  //     -moz-transition: all 0.5s ease-in-out;
  //     -o-transition: all 0.5s ease-in-out;
  //     transition: all 0.5s ease-in-out;
  // }

  -webkit-backface-visibility: initial !important;
  -webkit-transform-origin: 50% 50%;
}

/* map target information pane */
#destination-view, #scrubber-view {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 19vw;
  overflow: auto;

  background-color: #fff;

  position: fixed;
  top: 100px;
  bottom: 100px;
  margin-bottom: 0;
  right: -1000px;

  border: none;
  box-shadow: 0 20px 100px 0 rgba(0,0,0,.2);
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all 0.5s cubic-bezier(0.4,0,.2,1);

  h1 {
    font-size: 2.25vw;
    padding: 0.15em;
    border-top: 5px double #fff;
    border-bottom: 5px double #fff;
  }

  h2 {
    font-size: 1.5vw;
    color: gray;
    text-transform: capitalize;
  }

  span {
    font-size: 1.2vw;
  }
}

.btn-xl{
  height: 95%;
  width: 95%;
  font-size: 3.7rem;
  border-radius: 32px;
  color: white;
}

ul.horizontal-nav {
  list-style: none;
  text-align: center;
  width: 100%;
  position: relative;
  padding-left: 0;

  &.landing {
    padding-left: 0;
    margin: auto auto;
    width: 83.33333%;

    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    li {
      width: 19%;
      font-size: 2vw;

      a {
        margin: 0.15em;
        line-height: 1.7em;
        border: 0.12em solid #fff;

        &:before {
          top: -0.22em;
          left: -0.22em;
          bottom: -0.22em;
          right: -0.22em;
        }
      }
    }
  }

  &.map-actions {
    font-size: 1.9vw;

    width: 75%;
    margin: auto auto;

    span {
      text-transform: uppercase;
      color: $floor-color;
      position: absolute;
      top: 30%;
      left: 30px;

      font-size: 100%;
      line-height: 100%;
    }

    li {
      width: 9%;

      a {
        margin: 0.15em;
        line-height: 225%;
        font-size: 100%;
        border: 0.12em solid #fff;

        &.active {
          box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
          background-color: #5B7F95;
        }

        &.disabled {
          box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
          background-color: #DFD6CD;
          cursor: default;
        }

        &:before {
          top: -0.25em;
          left: -0.25em;
          bottom: -0.25em;
          right: -0.25em;
        }

        &.start:after {
          content: ".";
          position: absolute;
          width: 100%;
          top: 20%;
          color: #00e13c;
          font-size: 120%;
          display: block;
          text-align: center;
        }

        &.destination:after {
          content: ".";
          position: absolute;
          width: 100%;
          top: 20%;
          color: #fc6355;
          font-size: 120%;
          display: block;
          text-align: center;
        }
      }
    }
  }

  li {
    position: relative;
    display: inline-block;

    span {
      color: #777;
      font-size: 1.2vw;
      text-transform: uppercase;
      white-space: normal;
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      padding-top: 100%;
    }

    a {
      position: absolute;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0px 3px 8px 0 rgba(0,0,0,.3);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &:before {
        content: "";
        display: block;
        background: #fff;
        border-top: 2px solid #ddd;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        box-shadow: inset 0px 8px 48px #ddd;
      }
    }

    &:hover {
      a {
        color: #eee;
        text-decoration: none;

        &.disabled {
          color: #fff;
        }
      }
      span {
        color: #333;
      }
    }
  }
}

ul.vertical-nav {
  float: left;
  // Do _NOT_ use "position: fixed;". Causes SVG blurriness on zoom in Safari
  position: absolute;
  list-style: none;
  text-align: center;
  padding: 2vh 15px 0;
  // left: 0;
  width: $vertical-nav-width;
  height: calc(100vh - 15px);

  li {
    margin: 5px 10px 5vh;

    height: 11vh;
    width: 11vh;
    font-size: 1.8vh;

    a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center;
      border-radius: 50%;
      border: 7px solid #fff;
      font-size: 3em;
      box-shadow: 0px 3px 8px 0 rgba(0,0,0,.3);

      span {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        white-space: normal;
        position: absolute;
        left: -50%;
        top: 100%;
        width: 200%;
        text-align: center;
        margin-top: 2.65vh;
        font-size: 0.3em;
        line-height: 1em;
      }

      &:before {
        content: "";
        display: block;
        background: #fff;
        border-top: 2px solid #ddd;
        position: absolute;
        top: -0.3em;
        left: -0.3em;
        bottom: -0.3em;
        right: -0.3em;
        z-index: -1;
        border-radius: 50%;
        box-shadow: inset 0px 8px 48px #ddd;
      }
    }

    &:hover {
      a {
        color: #eee;
        text-decoration: none;
      }
      span {
        color: #333;
      }
    }
  }
}

.btn-home {
  background-color: $home-color;
  color: white;
}

.btn-people {
  background-color: $people-color;
  color: white;
}

.btn-events {
  background-color: $events-color;
  color: white;
}

.btn-rooms {
  background-color: $rooms-color;
  color: white;
}

.btn-departments {
  background-color: $departments-color;
  color: white;
}

.btn-map {
  background-color: $map-color;
  color: white;
}

.btn-search {
  background: $search-color;
  color: white;
}

.btn-logout {
  background: $logout-color;
  color: white;
}

.btn-floor {
  background: $floor-color;
  color: white;
}

.btn-map-action {
  background: $floor-color;
  color: white;
}

.btn-about {
  background: $about-color;
  color: white;
}

.text-home {
  color: $home-color;
}

.text-people {
  color: $people-color;
}

.text-events {
  color: $events-color;
}

.text-rooms {
  color: $rooms-color;
}

.text-departments {
  color: $departments-color;
}

.text-map {
  color: $map-color;
}

.text-search {
  color: $search-color;
}

.text-floor {
  color: $floor-color;
}

.text-about {
  color: $about-color;
}

#directory-banner {
  height: 7%;
}

h1#directory-title {
  color: gray;
  text-transform: uppercase;
  margin: 1em 0.2em;
}

ul.directory-list {
  list-style: none;
  padding: 0;

  li {
    position: relative;
    margin: 5px 20px 35px;
    float: left;
    width: 25%;

    a {
      display: block;
      text-indent:7px;
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 5px;
      box-shadow: 0px 3px 8px 0 rgba(0,0,0,.3);

      p {
        margin: 0;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
      }

      &.people-card {
        border: 7px solid $people-color;
        color: $people-color;
        h3 {
          color: $people-color;
        }
      }

      &.events-card {
        border: 7px solid $events-color;
        color: $events-color;
        h3 {
          color: $events-color;
        }
      }

      &.rooms-card {
        border: 7px solid $rooms-color;
        color: $rooms-color;
        h3 {
          color: $rooms-color;
        }
      }

      &.departments-card {
        border: 7px solid $departments-color;
        color: $departments-color;
        h3 {
          color: $departments-color;
        }
      }

      h3 {
        text-align: center;
        color: #EEE;
        font-size: 1.7rem;
        font-weight: bold;
        margin-top: 10px;
      }

      &:before {
        content: "";
        display: block;
        background: #fff;
        border-top: 2px solid #ddd;
        position: absolute;
        top: -18px;
        left: -18px;
        bottom: -18px;
        right: -18px;
        z-index: -1;
        border-radius: 5px;
        box-shadow: inset 0px 8px 48px #ddd;
      }
    }

    &:hover {
      a {
        border: 7px solid #999;
        color: #999;
        text-decoration: none;
        h3 {
          color: #999;
        }
      }
      span {
        color: #333;
      }
    }
  }
}

/* Search interface styling below */
.right-btn-container {
  position: fixed;
  z-index: 999;
  right: $right-btn-container-right-offset;
  width: $right-btn-container-width;

  &.search {
    top: 30px;
  }

  &.home, &.about {
    bottom: 30px;
  }

  a {
      display: block;
      width: 55px;
      height: 55px;
      position: relative;
      text-align: center;
      color: #FFF;
      line-height: 45px;
      border-radius: 50%;
      border: 5px solid #fff;
      font-size: 2em;
      box-shadow: 1px 3px 8px 0 rgba(0,0,0,.3);

      &:before {
        content: "";
        display: block;
        background: #fff;
        border-top: 2px solid #ddd;
        position: absolute;
        top: -11px;
        left: -11px;
        bottom: -11px;
        right: -11px;
        z-index: -1;
        border-radius: 50%;
        box-shadow: inset 2px 4px 20px #ddd;
      }

      &:hover {
        color: #999;
        text-decoration: none;
      }
  }
}

input.search {
  float: left;
  height: 2em;
  margin: 1.2em 0.3em 2em;
  padding: 0 auto;
  background: white;
  font-size: 2em;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

input.search:focus {
  outline: none;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
}

.floor {
    width: 15%;
}

.show-map
{
  width: 100%;
  height: 100vh;
  padding-top: 2vh;
}

.admin-view
{
  .alert {
    position: absolute;
    top: 0;
    width: 50%;
    visibility: hidden;
    left: 50%;
    margin-left: -25%;
    text-align: center;
  }
}

img.building-pic {
  padding: 1px;
  border: 1px solid #021a40;
  background-color: #eee;
  width: 100%;
  margin: 2em 0;
}

#Rooms {
  opacity: 1;
}

.locationIndicator {
  fill: #00e13c;
  fill-opacity: 1;
}

.destinationPin {
  fill: #fc6355;
}

.startPin {
  fill: #00e13c;
}

ul li.room {
    margin-bottom: 0px;
    margin-right: 0px;
}

.nav > li > a:hover {
    background-color: white;
}

#slider-vertical li {
    height: $vertical-slider-element-height;
    padding: 0px 0px 0px 0px;
}

#slider-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.nav > li > a {
    padding-top: 0px;
}

#scrubber-view {
    right: 3vw;
    width: 2vw;
    box-shadow: none;
    position: fixed;
    height: 100vh;
    top: 0px;
    right: 0px;

    .nav > li > a {
      padding: 0;
    }
}

.clickable-row {
    width: 50%;
}

table {
  .content {
    width: 80%;
  }

  tbody {
    tr.category-header > td {
      font-size: 2em;
      font-weight: bold;
      border-top: 1px solid black;
      margin-bottom: 30px;
      margin-top: 30px;
      float: left;
      width: 100%;
    }

    tr.clickable-row > td {
      padding-left: 50px;
    }
  }
}

/* For Wayfinding debug */
.debugPath {
  stroke: orange;
  stroke-width: 1;
}

.debugRoom {
  fill: red;
  stroke: red;
  stroke-width: 3;
}
