$search-color: #B1B3B3;
$logout-color: #B1B3B3;
$home-color: #B1B3B3;
$people-color: #5B7F95;
$events-color: #9CAF88;
$rooms-color: #C26E60;
$departments-color: #E6A65D;
$map-color: #00573F;
$floor-color: #ACA39A;
$about-color: #636363;
$vertical-nav-width: 130px;
$right-btn-container-width: 55px;
$right-btn-container-right-offset: 30px;
$vertical-slider-element-height: 15px;

.icon-home:after     { content: "\E805"; }
.icon-people:after     { content: "\E802"; }
.icon-departments:after      { content: "\E800"; }
.icon-events:after       { content: "\E801"; }
.icon-rooms:after { content: "\E809"; }
.icon-map:after { content: "\E804"; }
.icon-search:after { content: "\E806"; }
.icon-about:after { content: "\E803"; }
.icon-accessible:after { content: "\E807"; }
.icon-repeat:after { content: "\E808"; }
.icon-logout:after { content: "\E80A"; }
.icon-left-arrow:before { content: '\e80b'; }
.icon-right-arrow:before { content: '\e80c'; }

@font-face {
  font-family: 'fontello';
  src: font-url('fontello.eot');
  src: font-url('fontello.eot?#iefix') format('embedded-opentype'),
       font-url('fontello.woff') format('woff'),
       font-url('fontello.ttf') format('truetype'),
       font-url('fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
}

body {
  background: white;
}



#mapLoading {
	font-size: 7vw;
  color: #777;
  text-align: center;
  height: 8vw;
  position: relative;

  #mapLoadingInner {
    width: 100%;
    height: auto;

    position: relative;
    top: 45%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);

    font-size: 5vw;
  }
}

#map svg {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: initial !important;
  -webkit-transform-origin: 50% 50%;
}

#destination-view-bg {
  position: fixed;
  top: 100px;
  bottom: 100px;
  margin-bottom: 0;
  right: -1000px;

  filter: blur(5px);

  z-index: 100;

  background-color: white;
  transition: all 0.5s cubic-bezier(0.4,0,.2,1);
}

/* map target information pane */
#destination-view {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 19vw;
  overflow: auto;
  background-color: white;

  position: fixed;
  top: 100px;
  bottom: 100px;
  margin-bottom: 0;
  right: -1000px;

  border: none;
  box-shadow: 0 20px 100px 0 rgba(0,0,0,.2);
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all 0.5s cubic-bezier(0.4,0,.2,1);

  h1 {
    font-size: 2.25vw;
    padding: 0.15em;
    border-top: 5px double #fff;
    border-bottom: 5px double #fff;
  }

  h2 {
    font-size: 1.5vw;
    color: gray;
    text-transform: capitalize;
  }

  span {
    font-size: 1.2vw;
  }

  .min-max {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.btn-xl {
  height: 95%;
  width: 95%;
  font-size: 3.7rem;
  border-radius: 32px;
  color: white;
}

.generateQR {
  @media screen {
    img { height: 4in; width: 4in; }
  }

  @media print {
    img { padding:0px; border:1px solid #021a40; background-color:#ff0; height: 2in; width: 2in; margin: auto; }
    .right-btn-container {display: none;}
    .vertical-nav {display: none;}
  }
}

ul.vertical-nav {
  float: left;
  // Do _NOT_ use "position: fixed;". Causes SVG blurriness on zoom in Safari
  position: fixed;
  list-style: none;
  text-align: center;
  padding: 2vh 15px 0;
  // left: 0;
  width: $vertical-nav-width;
  height: calc(100vh - 15px);

  li {
    margin: 5px 10px 5vh;

    height: 11vh;
    width: 11vh;
    font-size: 1.8vh;

    a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center;
      border-radius: 50%;
      border: 7px solid #fff;
      font-size: 3em;
      box-shadow: 0px 3px 8px 0 rgba(0,0,0,.3);

      span {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        white-space: normal;
        position: absolute;
        left: -50%;
        top: 100%;
        width: 200%;
        text-align: center;
        margin-top: 2.65vh;
        font-size: 0.3em;
        line-height: 1em;
      }

      &:before {
        content: "";
        display: block;
        background: #fff;
        border-top: 2px solid #ddd;
        position: absolute;
        top: -0.3em;
        left: -0.3em;
        bottom: -0.3em;
        right: -0.3em;
        z-index: -1;
        border-radius: 50%;
        box-shadow: inset 0px 8px 48px #ddd;
      }
    }

    &:hover {
      a {
        color: #eee;
        text-decoration: none;
      }
      span {
        color: #333;
      }
    }
  }
}

.btn-home {
  background-color: $home-color;
  color: white;
}

.btn-min-max {
  font-size: 2em;
  line-height: 1.4em;
  height:1.4em;
  width:0.7em;
  border-radius: 0 1.4em 1.4em 0;
  -moz-border-radius: 0 1.4em 1.4em 0;
  -webkit-border-radius: 0 1.4em 1.4em 0;

  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
}

.btn-people, .btn-Person {
  background-color: $people-color;
  color: white;
}

.btn-events, .btn-Event {
  background-color: $events-color;
  color: white;
}

.btn-rooms, .btn-Room {
  background-color: $rooms-color;
  color: white;
}

.btn-departments, .btn-Department {
  background-color: $departments-color;
  color: white;
}

.btn-map {
  background-color: $map-color;
  color: white;
}

.btn-search {
  background: $search-color;
  color: white;
}

.btn-logout {
  background: $logout-color;
  color: white;
}

.btn-map-action {
  background: $floor-color;
  color: white;
}

.btn-about {
  background: $about-color;
  color: white;
}

.text-home {
  color: $home-color;
}

.text-people {
  color: $people-color;
}

.text-events {
  color: $events-color;
}

.text-rooms {
  color: $rooms-color;
}

.text-departments {
  color: $departments-color;
}

.text-map {
  color: $map-color;
}

.text-search {
  color: $search-color;
}

.text-floor {
  color: $floor-color;
}

.text-about {
  color: $about-color;
}

#directory-banner {
  height: 7%;
}

h1#directory-title {
  color: gray;
  text-transform: uppercase;
  margin: 1em 0.2em;
}

ul.directory-list {
  list-style: none;
  padding: 0;

  li {
    position: relative;
    margin: 5px 20px 35px;
    float: left;
    width: 25%;

    a {
      display: block;
      text-indent:7px;
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 5px;
      box-shadow: 0px 3px 8px 0 rgba(0,0,0,.3);

      p {
        margin: 0;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
      }

      &.people-card {
        border: 7px solid $people-color;
        color: $people-color;
        h3 {
          color: $people-color;
        }
      }

      &.events-card {
        border: 7px solid $events-color;
        color: $events-color;
        h3 {
          color: $events-color;
        }
      }

      &.rooms-card {
        border: 7px solid $rooms-color;
        color: $rooms-color;
        h3 {
          color: $rooms-color;
        }
      }

      &.departments-card {
        border: 7px solid $departments-color;
        color: $departments-color;
        h3 {
          color: $departments-color;
        }
      }

      h3 {
        text-align: center;
        color: #EEE;
        font-size: 1.7rem;
        font-weight: bold;
        margin-top: 10px;
      }

      &:before {
        content: "";
        display: block;
        background: #fff;
        border-top: 2px solid #ddd;
        position: absolute;
        top: -18px;
        left: -18px;
        bottom: -18px;
        right: -18px;
        z-index: -1;
        border-radius: 5px;
        box-shadow: inset 0px 8px 48px #ddd;
      }
    }

    &:hover {
      a {
        border: 7px solid #999;
        color: #999;
        text-decoration: none;
        h3 {
          color: #999;
        }
      }
      span {
        color: #333;
      }
    }
  }
}

/* Search interface styling below */
.right-btn-container {
  position: fixed;
  z-index: 999;
  right: $right-btn-container-right-offset;
  width: $right-btn-container-width;

  &.search {
    top: 30px;
  }

  &.home, &.about {
    bottom: 30px;
  }

  a {
      display: block;
      width: 55px;
      height: 55px;
      position: relative;
      text-align: center;
      color: #FFF;
      line-height: 45px;
      border-radius: 50%;
      border: 5px solid #fff;
      font-size: 2em;
      box-shadow: 1px 3px 8px 0 rgba(0,0,0,.3);

      &:before {
        content: "";
        display: block;
        background: #fff;
        border-top: 2px solid #ddd;
        position: absolute;
        top: -11px;
        left: -11px;
        bottom: -11px;
        right: -11px;
        z-index: -1;
        border-radius: 50%;
        box-shadow: inset 2px 4px 20px #ddd;
      }

      &:hover {
        color: #999;
        text-decoration: none;
      }
  }
}

//inside the searchbar
input.search {
  height: 2em;
  margin-top: .7em;
  margin-left: .1em;
  background: white;
  font-size: 1.2em;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.form-control {
  padding: 5px 5px;
}

input.search:focus {
  outline: none;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
}

.floor {
    width: 15%;
}



.admin-view
{
  .alert {
    position: absolute;
    top: 0;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    text-align: center;
  }
}

#Rooms {
  opacity: 1;
}

.locationIndicator {
  fill: #00e13c;
  fill-opacity: 1;
}

.destinationPin {
  fill: #fc6355;
}

.startPin {
  fill: #00e13c;
}

ul li.room {
    margin-bottom: 0px;
    margin-right: 0px;
}

.nav > li > a:hover {
    background-color: white;
}

#slider-vertical li {
    height: $vertical-slider-element-height;
    padding: 0px 0px 0px 0px;
}

#slider-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.nav > li > a {
    padding-top: 0px;
}

#scrubber-view {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;

  ul.nav {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 10px;
  }
  ul.nav > li > a {
    padding: 0;
  }
}

table {
  &.directory-table {
    width: 95%;
  }

  tbody {
    tr.category-header > td {
      font-size: 2em;
      font-weight: bold;
      border-top: 1px solid black;
      margin-bottom: 30px;
      margin-top: 30px;
      float: left;
      width: 100%;
    }

    tr.clickable-row > td {
      padding-left: 50px;
      cursor: pointer;
      width: 50%;
    }

    span.dir-row-field {
      margin: 0 0.5em;
    }
  }
}

/* For Wayfinding debug */
.debugPath {
  stroke: orange;
  stroke-width: 1;
}

.debugRoom {
  fill: red;
  stroke: red;
  stroke-width: 3;
}

/* About page */
.about-page {
  margin-top: 2em;
  font-size: 1.2em;
  color: #555;
  line-height: 1.75em;

  img.building-pic-1 {
    width: 60%;
    padding: 0 0 1em 1em;
    float: right;
  }

  img.building-pic-2 {
    width: 60%;
    padding: 1em 1em 1em 0;
    float: left;
  }

  .legal {
    color: #aaa;
    font-size: 0.7em;
    line-height: 1.3em;
  }
}

/* Administration tabs */

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
  float: left;
  padding: 5px 20px;
  width: 80%;
  height: 75vh;
  overflow: auto;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  border-right: 1px solid #ddd;
  height: 75vh;
  width: 20%;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
  padding: 5px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.admin-directory-list {
  height: 60vh;
  overflow: auto;
}

/* Fix for panzoom blurriness on Chrome
   https://github.com/timmywil/jquery.panzoom/issues/84 */
#floor0, #floor1, #floor2, #floor3, #floor4, #floor5 {
  -webkit-backface-visibility: initial !important;
  -webkit-transform-origin: 50% 50%;
}

#search-directory, .directory-object-search {
  border-radius: 4px 4px 0 0;
}

.loader {
  background: transparent url("/assets/loader.gif") no-repeat;
  margin: 0 auto;
  height: 15px;
  width: 50px;
  display: block;
}


/*
 * FRONT PAGE MAP NAVIGATION
 */

/* Pad to accomodate static nav-bar */
body {
  padding-top: 10vh;
  height: 100vh;
}


/* this is the map display */
#map {
  width: 100%;
  height: calc(90vh - 28vw);
  min-height: 60vh; /* Only occurs when device is wider than tall (iPad)*/
  text-align: center;

}

/* Scale font size, line height, active, etc based on screen size */
.floor-nav {
  text-align: center; /* UL centered in this top div */
  padding-bottom: 0;

  ul {
    display: inline-block;
    padding: 0; /* Padding is non-zero by default */
    margin-bottom: 0;

    li {
      display: inline-block;
      width: calc(100vw / 7); /* Spread evenly and leave some extra */
      max-width: 15vh; /* Only occurs when device is wider than tall (iPad)*/
      padding-left: 0.5vw;
      padding-right: 0.5vw;
      padding-bottom: 0;
      padding-top: 0;

      img { /* images will maintain aspect ratio => height of this div == width of li */
        width: 100%;
        height: auto;
      }
    }
  }

  .btn-floor.start { /* Circular border stylizing for start floor */
    img {
      border-radius: 50%;
      border-width: 3px;
      border-style: solid;
      border-color: #00e13c;
    }
  }

  .btn-floor.destination { /* Circular border stylizing for destination floor */
    img {
      border-radius: 50%;
      border-width: 3px;
      border-style: solid;
      border-color: #fc6355;
    }
  }
}

/* Used for floor anchors */
.btn-floor {
  display: block;

  &.active {
    opacity: 0.6;
  }

  &.disabled {
    opacity: 0.6;
  }
}

/* Accessibility nav-bar buttons*/
.btn-access {
  &.active {
    opacity: 0.6;
  }
}

/*.middle {
  width: 100%;
  display: inline-block;
}

.map-center {
  text-align: center;
}
*/

/* END FRONT PAGE FLOOR NAV */




/* BEGIN LANDING */
.landing-div {
  height: 90vh;
  width: 100vw;
  text-align: center;
}

.landing-ul {
  margin: auto;
  height: 100%;
  display: inline-table;

  li { /* Holds links to rest of site */
    display: block;
    height: 15vh; /* containing div is 90vh, divide by 5 and leave some extra */
    text-align: left;
    padding-top: 1vh;
    padding-bottom: 1vh;

    a { /* Anchors hold button images */
      height: 100%;
      display: inline-block;

      img { /* Button imags scale to fit container */
        height: 100%;
        width: auto;
        display: inline-block;
      }
    }

    span { /* Can further style the text accompanying buttons */
      display: inline-block;
    }

  }
}
/* END LANDING */



//navbar stuffs
.navbar {
	height: 9vh;
	min-height: 10px;
	background-color: rgba(235,235,235,1);
	border-color: #D6D6D6;
}

.btn-navbar-main {  //home, search buttons
	margin: .5vh;
    padding: .5vh;
    border-radius: 50%;
}

.btn-logout-nav {
	height: 7.5vh;
    margin: .75vh;
    padding: 1vh;
    float: right;
    border-radius: 4px;
    background-color: #CCCCCC;
}

.text-logout { //toggle menu admin-logout text size
  font-size: 3vh;
}


.btn-text { //toggle menu list text size
  font-size: 1.25em;
}

.btn.btn-block {
	text-align: left;
	text-indent: 35%;
	width: 93vw;
    background: rgba(255, 255, 255, 0.8);	//colors toggle menu buttons
}

.navbar-toggle .icon-bar {
	width: 100%;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 1vh;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 90vh;	//toggle menu max height
}

.navbar-collapse {
	img {
		height: 7.5vh;	//icon size
	}
}

//toggle menu button when pressed
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #CCCCCC
}

//BEGIN: STOP NAVBAR MENU FROM COLLAPSING WHEN BUTTON PRESSED
.navbar-header {
    float: none;
	img {
		height: 6.5vh;
	}
}
.navbar-toggle {
	display: block;
    padding: .5vh;
    margin-right: 1vh;
    margin-left: .5vh;
    margin-top: 1vh;
    height: 7vh;
    width: 7vh;
    background-color: #CCCCCC;		//toggle menu button
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    max-height: 100%;
	background-color: rgba(180,180,180,.5);	//transparent toggle menu
}
.navbar-collapse.collapse {
    display: none!important;
}

.navbar-collapse.collapse.in {
  display: block !important;

}
.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
//END

//fix some defaults
@media (min-width: 768px) {
	.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    	padding-left: 2vh;
    	padding-right: 2vh;
	}

	.btn.btn-block {
		text-indent: 40%;
	}
}
