/*This is the normal display settings*/
  @media screen {
      p {
        display: none;
      }
      img.hidden {
        display:none;
      }

    img.hidden {
        display:none;
      }

      .backgroundImg {
        position:relative;
        width: 8in;
        height: 2.25in;
        border-style: dashed;
        border-width: 1px;
        border-color:#000000;
      }
      

      .name {
        position: absolute;
	font-weight: bold;
        font-size:40px;
        left: 25%;
        top:5%;
        color: #ffffff;
	 text-shadow:

	   -1px -1px 0 #000,  

	    1px -1px 0 #000,

	    -1px 1px 0 #000,

	     1px 1px 0 #000;
 	font-family:Gill Sans, sans-serif;

      }

      .title {
        position: absolute;
	font-weight: bold;
        font-size:18px;
        top:105%;
        left: 0%;
 	text-shadow: none;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }
      .email {
 	position: absolute;
	font-weight: bold;
        font-size:16px;
        top:40%;
        left: 25%;
 	text-shadow: none;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }
 
      .qr {
        position:absolute;
        left: .1in;   /*4*/
        top:.225in;  /*30*/
	
      }

      img.qrstyle {
        width: 100%;
        height:auto;
        max-width: 1.7in; /*100px */
        max-height: 1.7in;
	background-color: #ffffff;
	border-style: solid;
        border-width: .05in ;
        border-color:#ffffff;

      }

      img.bgstyle {
        width: 8in;
        height: 2in;
        margin-top: .125in;
        margin-bottom: .125in;
        /* height: 288px; */
        opacity: 0.5;
        /*border-style: solid;
        border-width: 9pt 0pt 9pt 0pt ;*/
        border-color:#ffffff;
      }

      /*==========EXTRA INFO==================*/
      img.logostyle {
        width: 100%;
        height:auto;
        max-width: 110px;
        max-height: 110px;

      }

      .logo {
        position:absolute;
        right: 7%;
        top:30%;
      }

     .depname {
        position: absolute;
        font-weight: bold;
        font-size:28px;
        /*left:55%;
        bottom:12%;*/
        right: 5%;
        bottom:.1in;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }



  /*=================================*/
}

/*This is the display settings for printing*/
@media print {
    header nav, footer, button,input {
      display: none;
    }

    p {
        display: none;
      }
      img.hidden {
        display:none;
      }

      .backgroundImg {
        position:relative;
        width: 8in;
        height: 2.25in;
        border-style: dashed;
        border-width: 1px;
        border-color:#000000;
      }
      

      .name {
        position: absolute;
	font-weight: bold;
        font-size:40px;
        left: 25%;
        top:5%;
        color: #ffffff;
	 text-shadow:

	   -1px -1px 0 #000,  

	    1px -1px 0 #000,

	    -1px 1px 0 #000,

	     1px 1px 0 #000;
 	font-family:Gill Sans, sans-serif;

      }

      .title {
        position: absolute;
	font-weight: bold;
        font-size:18px;
        top:105%;
        left: 0%;
 	text-shadow: none;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }
      .email {
 	position: absolute;
	font-weight: bold;
        font-size:16px;
        top:40%;
        left: 25%;
 	text-shadow: none;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }
 
      .qr {
        position:absolute;
        left: .1in;   /*4*/
        top:.225in;  /*30*/
	
      }

      img.qrstyle {
        width: 100%;
        height:auto;
        max-width: 1.7in; /*100px */
        max-height: 1.7in;
	background-color: #ffffff;
	border-style: solid;
        border-width: .05in ;
        border-color:#ffffff;

      }

      img.bgstyle {
        width: 8in;
        height: 2in;
        margin-top: .125in;
        margin-bottom: .125in;
        /* height: 288px; */
        opacity: 0.5;
        /*border-style: solid;
        border-width: 9pt 0pt 9pt 0pt ;*/
        border-color:#ffffff;
      }

      /*==========EXTRA INFO==================*/
      img.logostyle {
        width: 100%;
        height:auto;
        max-width: 110px;
        max-height: 110px;

      }

      .logo {
        position:absolute;
        right: 7%;
        top:30%;
      }

     .depname {
        position: absolute;
        font-weight: bold;
        font-size:28px;
        /*left:55%;
        bottom:12%;*/
        right: 5%;
        bottom:.1in;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }


} 
