/*
 * Stylesheet for placards
 * Note: Be aware that relative locations are in inches since placard size is measured in inches
 *
 * Author: Andrea Brenner-Billet <abrennerbillet@ucdavis.edu>
 *
 */

/*These are the screen display settings*/
 @media screen {
    h3,p{
	font-family:Gill Sans, sans-serif;
      }
      
    img.hidden {
        display:none;
      }

      .backgroundImg {
        position:relative;
        width: 8in;
        height: 2.25in;
        border-style: dashed;
        border-width: 1px;
        border-color:#000000;
      }

      .name {
        position: absolute;
	font-weight: bold;
        font-size:40px;
        left: 25%;
        top:5%;
	width:75%;
        color: #ffffff;
	text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px 1px 0 #000,
	    1px 1px 0 #000;
 	font-family:Gill Sans, sans-serif;
      }

      .title {
        position: absolute;
	font-weight: bold;
        font-size:18px;
        top:105%;
        left: 0%;
	width:70%;
 	text-shadow: none;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }

      .extrainfo {
        position: absolute;
	font-weight: bold;
        font-size:14px;
        top:160%;
        left: 0%;
	width:70%;
 	text-shadow: none;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }

      .email {
 	position: absolute;
	font-weight: bold;
        font-size:16px;
        top:80%;
        left: 25%;
 	text-shadow: none;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }
 
      .qr {
        position:absolute;
        left: .1in;   
        top:.225in;  
      }

      img.qrstyle {
        width: 100%;
        height:auto;
        max-width: 1.7in; 
        max-height: 1.7in;
	background-color: #ffffff;
	border-style: solid;
        border-width: .05in ;
        border-color:#ffffff;
      }

      img.bgstyle {
        width: 8in;
        height: 2in;
        margin-top: .125in;
        margin-bottom: .125in;
        opacity: 0.5;
        border-color:#ffffff;
      }


      /*==========EXTRA INFO==================*/
      img.logostyle {
        width: 100%;
        height:auto;
        max-width: 110px;
        max-height: 110px;
      }

      .logo {
        position:absolute;
        right: 7%;
        top:30%;
      }

     .depname {
        position: absolute;
        font-weight: bold;
        font-size:28px;
        right: 5%;
        bottom:.1in;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }

.error{
	color:red;
        font-size:12px;
 	text-shadow: none;
	font-family:Gill Sans, sans-serif;
	padding-bottom:3em;
	visibility: hidden;
      }
}

/*These the print display settings*/
@media print {
    footer, button,input, p, textarea,h4 {
      display: none;
    }

      h3 {
	font-family:Gill Sans, sans-serif;
      }

      img.hidden {
        display:none;
      }

      .error{
	display:none;
      }

      .backgroundImg {
        position:relative;
        width: 8in;
        height: 2.25in;
        border-style: dashed;
        border-width: 1px;
        border-color:#000000;
      }

      .name {
        position: absolute;
	font-weight: bold;
        font-size:40px;
        left: 25%;
        top:5%;
	width:75%;
        color: #ffffff;
	text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px 1px 0 #000,
	    1px 1px 0 #000;
 	font-family:Gill Sans, sans-serif;
      }

      .title {
        position: absolute;
	font-weight: bold;
        font-size:18px;
        top:105%;
        left: 0%;
	width:70%;
 	text-shadow: none;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }

      .extrainfo {
        position: absolute;
	font-weight: bold;
        font-size:14px;
        top:160%;
        left: 0%;
	width:70%;
 	text-shadow: none;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }

      .email {
 	position: absolute;
	font-weight: bold;
        font-size:16px;
        top:80%;
        left: 25%;
 	text-shadow: none;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }
 
      .qr {
        position:absolute;
        left: .1in;   
        top:.225in;  
      }

      img.qrstyle {
        width: 100%;
        height:auto;
        max-width: 1.7in; 
        max-height: 1.7in;
	background-color: #ffffff;
	border-style: solid;
        border-width: .05in ;
        border-color:#ffffff;
      }

      img.bgstyle {
        width: 8in;
        height: 2in;
        margin-top: .125in;
        margin-bottom: .125in;
        opacity: 0.5;
        border-color:#ffffff;
      }


      /*==========EXTRA INFO==================*/
      img.logostyle {
        width: 100%;
        height:auto;
        max-width: 110px;
        max-height: 110px;
      }

      .logo {
        position:absolute;
        right: 7%;
        top:30%;
      }

     .depname {
        position: absolute;
        font-weight: bold;
        font-size:28px;
        right: 5%;
        bottom:.1in;
        color: #000000;
	font-family:Gill Sans, sans-serif;
      }

} 
