<!--Toggeable hamburger menu-->
<ul class="nav navbar-nav navbar-left btn-block">
    <li>
        <a href="/people">
            <button type="button" class="btn btn-block">
                <span class="btn-navbar btn-people icon-people"></span>
                <span class="btn-text text-people">People</span>
            </button>
        </a>
    </li>
    <li>
        <a href="/departments">
            <button type="button" class="btn btn-block">
                <span class="btn-navbar btn-departments icon-departments"></span>
                <span class="btn-text text-departments">Departments</span>
            </button>
        </a>
    </li>
    <li>
        <a href="/events">
            <button type="button" class="btn btn-block">
                <span class="btn-navbar btn-events icon-events"></span>
                <span class="btn-text text-events">Events</span>
            </button>
        </a>
    </li>
    <li>
        <a href="/rooms">                
            <button type="button" class="btn btn-block">
                <span class="btn-navbar btn-rooms icon-rooms"></span>
                <span class="btn-text text-rooms">Rooms</span>
            </button>
        </a>
    </li>
    <li>
        <a href="/map">
            <button type="button" class="btn btn-block">
                <span class="btn-navbar btn-map icon-map"></span>
                <span class="btn-text text-map">Map</span>
            </button>
        </a>
    </li>
    <li>
        <a href="/about">
            <button type="button" class="btn btn-block">
                <span class="btn-navbar btn-about icon-about"></span>
                <span class="btn-text text-about">About</span>
            </button>
        </a>
    </li>
</ul> <!-- toggle menu items -->